@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
	@apply bg-fixed bg-no-repeat bg-right-bottom bg-opacity-40 h-screen bg-contain;
	background-image: url("/vision.png");
}

h1 {
	mix-blend-mode: difference;
	background: linear-gradient(
		45deg,
		#ff5555 8.25%,
		#0000ff 40.57%,
		#00bf66 72.08%,
		#b0b305 90.57%
	);
	color: #000;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Write your own custom component styles here */
.btn-blue {
	@apply px-4 py-2 font-bold text-white bg-blue-500 rounded shadow active:bg-blue-800;
}

/* .br-grad {
	border: 1px solid;
	border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66));
	border-image-slice: 1;
} */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@responsive {
	.text-shadow {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.text-shadow-md {
		text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
	}

	.text-shadow-lg {
		text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
	}

	.text-shadow-none {
		text-shadow: none;
	}
}
